body {
  position: relative;
  display: flex; 
  flex-direction: column;
  overflow-y: auto;
}


.header{
    transform-style: preserve-3d; 
    position: relative; 
    justify-content: center;
    display:flex;
    height: 100%;
    max-height: 100vh;
    align-items: center;
    z-index:-1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sectionStyle {
  perspective: 10px; 
  overflow-y: auto; 
  height: 100vh;
  overflow-x: hidden;
  background-color: #e2dddc; 
  background-attachment: fixed;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  z-index: -1;
}

.sectionStyle::-webkit-scrollbar {
  display:none; 
}

.layer1Style, .layer2Style, .layer3Style, .layer4Style, .layer5Style {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  will-change: transform;
}

.layer1Style{
    transform:translateZ(-2px) scale(1.22);
}

.layer2Style{
    transform:translateZ(-4px) scale(1.42);
}

.layer3Style{
    transform:translateZ(-5px) scale(1.52);
}

.layer4Style{
    transform:translateZ(-8px) scale(1.82);
}

.layer5Style{
    transform:translateZ(-10px) scale(2.0);
}

#textWrapper{
  position: relative;
  justify-content: center;
  align-items: center;
}

#textWrapper::before{
 content:'';
 position: absolute;  
 bottom: 0;
 height: 100%; 
 width: 100%; 
 background: linear-gradient(to top, #000000 1%, transparent 99%);
 z-index: 50;
 
}