---
import Footer from '../components/footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ParallaxHero from '../components/parallaxHero.astro';
import Header from '../components/header.astro';

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>WB Simplified</title>
    </head>
    <body>
        <Header />
        <div 
            id="wrapper"
            class="overflow-hidden h-[100vh] mb-[100px]"
        >
           <ParallaxHero />
        </div>
        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>