---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import Hero from "../components/parallaxHero.astro"; 
const pageTitle = "Home Page";

---
<BaseLayout pageTitle = "Home Page" >
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load message = {["Hi", "Hello", "Howdy", "Hey there", "Hola", "Aloha", "Ni hao, ma?"]} />
</BaseLayout>