---
const title = "Sample Website"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div></div>
		<div class = "flex flex-row bg-black text-white min-h-[30px]">
			<div class = "block left-auto right-10px w-fit">
				<a href="/">Home</a>
				<a href="/about/">About</a>
				<a href="/blog/">Blog</a>
			</div>
	  	</div>
		<h1>Astro</h1>
	</body>
</html>
