---
import ParallaxHero from '../components/parallaxHero2.astro';
import Header from '../components/header.astro';

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>WB Simplified</title>
    </head>
    <Header />
    <body>
        <ParallaxHero />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>