---
import MenuIcon from "./hamburger.astro";
---

<header class="flex flex-row bg-black text-white min-h-[30px] relative">
    <MenuIcon />
    <nav id="header=wrapper" class="nav-links">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
    </nav>
</header>
