---
import Mountain from '../assets/images/wbsimplified/Mountain.png'; 
import Trees from '../assets/images/wbsimplified/Trees.png'; 
import "../styles/wbsimplified.css"
---

<div
    class = "wrapper"
>
    <header class="header">
        <img src={Mountain} alt = "layer1" class ="background" />
        <img src={Trees} alt = "layer2" class ="foreground" />
        <h1
            class="text-center text-2xl font-bold"
        >Welcome!</h1>
    </header>
</div>